// Основные цвета сайта //

$basic-green: #68b738;
$basic-green_2: #5eaa2f;
$basic-grey: #f2f2f2;
$text-color: #444444;
$special-grey: #cdcdcd;
$error-status: #ff8282;
$black: #000000;
$white: #ffffff;

// Шрифты сайта //

$oswald: "Oswald", "Verdana", sans-serif;
$arial: "Arial", sans-serif;

// Расширения екранов //

$mobile-only: 767px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1300px;

// Плотность пикселей (ретина) //

$retina-resolution: 2dppx;
