// Основные цвета сайта //

$basic-green: #68B738;
$basic-green_2: #5EAA2F;
$basic-grey: #F2F2F2;
$text-color: #444444;
$special-grey: #CDCDCD;
$error-status: #FF8282;
$black: #000;
$white: #fff;

// Шрифты сайта //

$oswald: "Oswald", "Verdana", sans-serif;
$arial: "Arial", sans-serif;

// Расширения екранов //

$mobile-only: 767px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1300px;
