.example {
  background-color: #EAEAEA;
  margin-top: calc(122px - 47px);

  @include tablet {
    background-color: white;
    margin-top: 43px;
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(#fff 0,#fff 200px,#f2f2f2 200px,#f2f2f2 100%);
    margin-top: 13px;
  }
}

.example__wrapper {
  display: flex;
  flex-direction: column;

  @include tablet {
    
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__content {
  @include desktop {
  max-width: 435px;
  }

}

.example__title {
  padding-top: 27px;
  margin-bottom: 33px;
  font-size: 36px;
  line-height: 40px;

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @include desktop {
    margin-top: 30px;
    padding-bottom: 76px;
  }
}

.example__description {
  padding-right: 8px;
  margin-bottom: 25px;

  @include tablet {
    padding-right: 25px;
    margin-bottom: 54px;
  }
  @include desktop {
    margin: 70px 0 60px;
  }
}

.example__data {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include desktop {
    flex-direction: column;
    align-items: flex-start;
  }
}

.achievements {
  display: flex;
  justify-content: space-between;

  @include tablet {
  justify-content: flex-start;
  }
}

.achievement {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid $special-grey;
  border-radius: 3px;
  margin: 0;
  position: relative;

  @include tablet {
    margin-right: 42px;
  }
}

.achievement__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 15px 20px 6px;
  min-width: 121px;

  @include tablet {
    min-width: 162px;
    padding-bottom: 10px;
    font-size: 30px;
    line-height: 37px;
  }
}

.achievement__title {
  position: relative;
  width: fit-content;
  bottom: -6px;
  font-family: $arial;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  color: #444;
  background-color: #EAEAEA;

  @include tablet {
    background-color: white;
    font-size: 14px;
    & br {
      display: none;
    }
  }

  @include desktop {
    background-color: #EAEAEA;
  }
}

.example__costs {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 10px;
    text-align: right;
    font-size: 20px;
  }

  @include desktop {
    flex-direction: row;
    align-items: center;
    margin-top: 55px;
    gap: 65px;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
  padding-bottom: 34px;
  @include tablet {
    margin: 0 -30px;
    background-image: linear-gradient(#fff 0,#fff 180px,#f2f2f2 180px,#f2f2f2 100%);
    overflow: hidden;
  }

  @include desktop {
    margin: 0;
    background-image: linear-gradient(#fff 0,#fff 200px,#f2f2f2 200px,#f2f2f2 100%);
    overflow: visible;
  }
}

.slider__images {
  position: relative;
  margin: 0 -20px;
  width: 320px;
  height: 240px;

  @include tablet {
    margin: 60px 0 0;
    width: 680px;
    height: 517px;
  }
}

.slider__image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  @include tablet {
    display: flex;
    flex-direction: column;
  }

}

.slider__image-img {
  max-width: inherit;

  @include tablet {
    width: 680px;
    height: 517px;
  }
}

.slider__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  padding: 2px;
  z-index: 1;

  @include tablet {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  @include desktop {
    margin-top: 35px;
  }
}

.slider__btn {
  font-size: 16px;
  line-height: 20px;
  color: black;
  text-transform: uppercase;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.24);

  @include tablet {
    font-size: 24px;
    line-height: 30px;
  }
}
