.offer {
  background-image: linear-gradient(to top, $white 97px, transparent 97px), url("../../../img/raster/index-background-mobile@1x.jpg"), linear-gradient(to top, $white 210px, #61a63c 210px);
  background-repeat: no-repeat;
  background-position: top;
  background-color: #61a63c;
  background-size: 100%;

  @include retina {
    background-image: linear-gradient(to top, $white 97px, transparent 97px), url("../../../img/raster/index-background-mobile@2x.jpg"), linear-gradient(to top, $white 210px, #61a63c 210px);
  }

  @include tablet {
    background: $white;
  }

  @include desktop {
    background: 0 0;
    min-height: 557px;
  }
}

.offer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $white;

  @include tablet {
    align-items: start;
    text-align: left;
    color: $black;
  }
}

.offer__content {
  @include tablet {
    margin-left: 87px;
  }

  @include desktop {
    margin-left: 80px;
  }
}

.offer__title {
  width: 295px;
  padding-top: 27px;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @include tablet {
    padding-top: 34px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    width: 415px;
  }

  @include desktop {
    padding-top: 83px;
  }
}

.offer__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    margin-bottom: 53px;
  }
}

.offer__image-wrapper {
  @include tablet {
    display: flex;
    justify-content: center;
    width: auto;
    order: 2;
    margin-top: -82px;
  }

  @include desktop {
    margin-top: 0;
  }
}

.offer__img {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 270px;

  @include tablet {
    order: 2;
    width: 709px;
    height: 609px;
  }

  @include desktop {
    position: absolute;
    z-index: -1;
    left: 447px;
    top: -2px;
    margin-top: 5px;
    margin-bottom: 50px;
    width: 552px;
    height: auto;
  }
}
