.offer {
  background-image: linear-gradient(to top, #fff 97px, transparent 97px), url(../../../img/index-background-mobile.png), linear-gradient(to top, #fff 210px, #61a63c 210px);
  background-repeat: no-repeat;
  background-position: top;
  background-color: #61a63c;
  background-size: 100%;

  @include tablet {
    background: white;
  }

  @include desktop {
    background: 0 0;
    min-height: 560px;
  }
}

.offer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 22px;
  text-align: center;
  color: #fff;

  @include tablet {
    align-items: start;
    text-align: left;
    color: $black;
  }
}

.offer__content {
  @include tablet {
    margin-left: 110px;
  }
}

.offer__title {
  width: 295px;
  padding-top: 27px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;

  @include tablet {
    padding-top: 0;
    padding-top: 62px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    width: 585px;
  }

  @include desktop {
    padding-top: 105px;
  }
}

.offer__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
  }
}

.offer__img {
  margin: 0 auto;
  width: 280px;
  height: 270px;

  @include tablet {
    order: 2;
    width: 709px;
    height: 609px;
  }

  @include desktop {
    position: absolute;
    z-index: -1;
    left: 475px;
    width: 552px;
    height: auto;
  }
}
