.catalog-main {
  margin-top: 37px;

  @include tablet {
    margin-top: 93px;
  }

  @include desktop {
    margin-top: 97px;
  }
}

.catalog-main__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;

  @include tablet {
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
    row-gap: 69px;
    justify-content: center;
  }

  @include desktop {
    padding: 0 40px;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 74px;
    margin: 0 auto;
  }
}
