.extra-goods {
  margin-top: 28px;
  margin-bottom: 35px;

  @include tablet {
    margin-top: 68px;
    margin-bottom: 75px;
  }

  @include desktop {
    margin-top: 75px;
    margin-bottom: 85px;
  }
}

.extra-goods__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include tablet {
    gap: 60px;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }

}

.extra-goods__heading {
  font-size: 24px;
  line-height: 24px;
  background-image: linear-gradient(to bottom, transparent 0, transparent 13px, $basic-green 13px, $basic-green 16px, transparent 16px, transparent 100%);
  margin-bottom: 35px;

  & span {
  display: inline-block;
  padding: 0 20px;
  background-color: #ffffff;

  @include tablet {
    margin-left: 30px;
  }

  @include desktop {
    padding: 0 35px;
    margin: 0 calc((100vw - 1300px)/2);
  }
  }

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    background-image: linear-gradient(to bottom, transparent 0, transparent 22px, $basic-green 22px, $basic-green 25px, transparent 25px, transparent 100%);
    margin-bottom:  80px;
  }
}

.extra-goods__list {
  padding: 0;
  margin: 0;
}

.extra-goods__item {
  display: flex;
  flex-direction: column;
  padding: 13px 0;
  border-bottom: 1px solid $special-grey;

  &:first-child {
    border-top: 1px solid $special-grey;
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 26px 38px;
    border-left: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
  }

  @include desktop {
    width: 895px;
    align-items: center;
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid $special-grey;
  }
}

.extra-goods__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
  color: $text-color;

  @include tablet {
    margin: 0;
    gap: 55px;
    font-size: 16px;
  }

  @include desktop {
    gap: 0px;
  }
}

.extra-goods__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    width: 284px;
  }
}

.extra-goods__size {
  @include desktop {
    width: 245px;
  }
}

.extra-goods__btn {
  flex: 1 0 100%;

  @include tablet {
    margin-top: 25px;
  }

  @include desktop {
    flex: 0 0 245px;
    min-width: 245px;
    margin-top: 0;
  }
}
