.catalog-main__item {
  padding: 14px 20px;
  border-top: 1px solid #ededed;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }

  @include tablet {
    margin-top: 0;
    padding: 0 36px 40px 36px;
    border-top: none;
    background-image: linear-gradient(180deg, #ffffff 70px, #f2f2f2 70px);
  }

  @include desktop {
    width: 245px;
  }
}

.catalog-main__item-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  max-width: 480px;
  margin: 0 auto;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  @include desktop {
    gap: 0;
  }
}

.catalog-item__title {
  width: 75px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
  color: #222222;

  @include tablet {
    margin-bottom: 12px;
    width: 150px;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }
}

.catalog-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 118px;
  flex: 1 0 auto;

  & > picture img {
    display: block;
  }


  @include tablet {
    & > picture img {
      width: 100%;
      height: auto;
    }
    align-items: flex-end;
    width: 324px;
    height: 196px;
  }

  @include desktop {
    margin-bottom: 35px;
    width: 245px;
  }
}

.catalog-item__description-wrapper {
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 251px;
  }

  @include desktop {
    width: 173px;
    margin-bottom: 35px;
  }
}

.catalog-item__description-list {
  margin-top: 0;
  margin-bottom: 5px;

  @include tablet {
    margin-top: 0;
    width: 100%;
  }
}

.catalog-item__description-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  @include tablet {
    padding: 7px 3px 8px 2px;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid $special-grey;

    &:first-child {
      padding-top: 8px;
    }
  }
}
