.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 240px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 20px;
  color: #ffffff;
  line-height: 20px;
  background-color: #68b738;
  font-weight: 400;
  transition: 0.3s;

  &:hover,
  &:active {
    background-color: $basic-green_2;
  }

  &:active {
    background-color: $basic-green_2;
    color: rgba(255, 255, 255, 0.3);
  }

  @include desktop {
    min-width: 169px;
  }

  &--grey {
    max-width: 480px;
    min-width: 280px;
    width: 100%;
    color: $text-color;
    background-color: $basic-grey;
    transition: 0.3s;

    &:hover {
      background-color: #ebebeb;
      color: $basic-green;
    }

    &:active {
      opacity: 0.3;
    }

    @include tablet {
      min-width: 248px;
    }

    @include desktop {
      min-width: 169px;
    }
  }
}

.offer__btn {
  min-height: 40px;
  padding: 7px 25px;
  font-size: 14px;
  line-height: 18px;
  z-index: 2;
  min-width: 100%;

  @include tablet {
    font-size: 20px;
    line-height: 0px;
    min-width: 244px;
    min-height: 54px;
    padding: 14px 25px;
  }
}

.catalog-item__btn {
  max-width: 480px;
  min-width: 280px;
  grid-column: 1/-1;
  margin-top: 12px;

  @include tablet {
    min-width: 248px;
    min-height: 39px;
    padding: 9px 20px;
    margin-top: -7px;
    margin-left: 1px;
  }

  @include desktop {
    min-width: 168px;
    min-height: 40px;
  }
}

.program-form__submit-btn {
  max-width: 570px;
  min-height: 40px;
  width: 100%;
  margin: 0 auto;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  padding: 8px 45px;
  text-transform: uppercase;
  border: none;

  @include tablet {
    height: 52px;
    margin-left: 40px;
    margin-right: 60px;
    width: 282px;
    padding: 18px 45px;
    font-size: 20px;
    line-height: 0px;
  }

  @include desktop {
    margin-left: 41px;
    margin-right: 80px;
    width: 568px;
  }
}
