.contacts {
  position: relative;
  background-color: #f2f2f2;

  &--index {
    background-color: $white;
  }
}

.contacts__text {
  @include desktop {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-left: calc((100vw - #{$desktop-width}) / 2 + 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.contacts__text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 20px 25px;

  @include tablet {
    padding: 65px 70px 52px;
  }

  @include desktop {
    margin-bottom: 5px;
    padding-left: 75px;
    padding-right: 74px;
    padding-top: 61px;
    z-index: 1;
    background-color: $white;
    max-width: 570px;
  }
}

.contacts__item {
  margin: 0;
  flex-basis: 170px;
}

.contacts__slogan {
  font-size: 16px;
  line-height: 1.17;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  font-family: $arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: $text-color;
  line-height: 1.43;

  @include tablet {
    font-size: 16px;
    text-align: right;
  }

  @include desktop {
    text-align: left;
  }
}

.contacts__city {
  @include tablet {
    margin-top: 18px;
  }
}

.contacts__map {
  width: 100%;
  height: 362px;
  background-color: #fdf7ef;
  background-image: url("../../../img/raster/map-pin.png"), url("../../../img/raster/bg-map-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center 51%, center;
  background-size: 62px, cover;

  @include retina {
    background-image: url("../../../img/raster/map-pin.png"), url("../../../img/raster/bg-map-mobile@2x.png");
  }

  @include tablet {
    height: 395px;
    background-image: url("../../../img/raster/map-pin.png"), url("../../../img/raster/bg-map-tablet@1x.png");
    background-size: 124px, cover;

    @include retina {
      background-image: url("../../../img/raster/map-pin.png"), url("../../../img/raster/bg-map-tablet@2x.png");
    }
  }

  @include desktop {
    height: 400px;
    background-image: url("../../../img/raster/map-pin.png"), url("../../../img/raster/bg-map-desktop@1x.png");
    background-position: calc(71.1% + (100vw - 100%) / 2) 51%, center;

    @include retina {
      background-image: url("../img/raster/map-pin.png"), url("../img/raster/bg-map-desktop@2x.png");
    }
  }
}
