.page-footer__copyright {
  padding-top: 18px;
  width: 100%;

  @include tablet {
    padding-top: 0;
    width: 165px;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: $arial;
  font-weight: 400;
  line-height: 18px;
  text-transform: none;

  @include tablet {
    justify-content: start;
  }

  &:hover .academy-icon {
    fill: $basic-green;
    transition: 0.3s;
  }
}

.academy-icon {
  fill: #666666;

  @include tablet {
    margin-left: 22px;
  }
}
