.page-main__title {
  margin-top: 27px;
  font-size: 36px;
  line-height: 36px;

  @include tablet {
    margin-top: 37px;
    font-size: 60px;
    line-height: 60px;
  }

  @include desktop {
    margin-top: 48px;
  }
}
