.program-form__wrapper {
  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    align-items: center;
  }
}

.program-form__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 33px;
  padding: 0 20px;

  @include tablet {
    flex-direction: row;
    margin-top: 54px;
    padding-left: 30px;
    margin-bottom: 70px;
  }

  @include desktop {
    padding-left: calc((100vw - 1300px) / 2);
    margin-bottom: 80px;
    margin-top: 60px;
  }
}

.program-form__note {
  margin-top: 21px;
  font-family: $arial;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 16px;

  @include tablet {
    margin-top: 0;
    font-size: 16px;
    line-height: 16px;
  }
}
